* {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (min-width: 768px){

/* Navbar Start  */
.container {
  display: flex;
  background-color: #FFF7FA;

}

nav {
  width: 25%;
  height: 100vh;
  position:fixed;
  background-color: #FFF7FA;
}

.personal-information {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.personal-information img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.personal-information div h3 {
  font-family: cursive;
  color: #2F234B;
}

.navigation {
  width: 100%;
  height: 42vh;
  margin: 15px 0;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-image: #FFF7FA;
  background-color: #FFF7FA;

}

.navigation li a {
  font-family: cursive;
  display: block;
  color: #2F234B;
  width: 75%;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 3px;
  text-align: center;
}

.navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation li a.active {
  background-color: #E0CBDC;
  color: #F74A8A;
}

.navigation li a:hover:not(.active) {
  background-color: #E0CBDC;
  color: #F74A8A;
}

.social-media {
    width: 100%;
    height: 10vh;
    background-color: #FFF7FA;
    display: flex;
    justify-content: space-around;
}

.social-media img {
    width: 35px;
    height: 35px;
}


nav .copyright{
    height: 10vh;
    background-color: #FFF7FA;
    text-align: center;
    font-size: x-small;

}
nav .copyright p {
    font-family: cursive;
    color: #2F234B;
}

nav .copyright a {
    color: #F74A8A;
}

/* Navbar End  */

main {
  width: 75%;
}


}
